html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: black; 
	/*margin: 0 auto;*/
	width: 100%;
	height: 100%;
	font-family: Helvetica, sans-serif;
	color: white;
	font-size: 24px;
	overflow-y: scroll;
	letter-spacing: 1px;
}

.bluebg {
	background-color: blue;
}

nav {
	width: 100%;
	background-color: blue;
	position: fixed;
	bottom: 0;
	height: 50px;
}


ul {
	margin: 12px 0;
	margin-right: 0px;
}

nav li {
	float:right;
	text-align: center;
	margin: 1px 50px 1px 0px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	cursor: crosshair;
}

a:active {
	color: black;
}

p {
	width: 800px;
	margin: 50px auto;
	font-size: 32px;
	line-height: 42px;
}

.hover {
	width: 300px;
	height: 300px;
/*	padding: 40px;
*/	float: right;
	font-size: 24px;
	padding-top: 35px;
	color: gray;
}

span {
	font-style: italic;
	letter-spacing: 3px;
}

img {padding: 40px;}



img:hover {
	cursor: crosshair;
}

#title {
	height: 80px;
	margin-bottom: 5px;
	margin-left: -20px;
	bottom: 0;
	position: fixed;
	z-index: 1000;
}

.all {
	width: 93%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.white {
	width: 100%;
	height: 100%;
	background-color: white;
	bottom: 0;
	padding-top: 10px;
}

h1 {
	font-size: 50px;
	width: 500px;
	text-align: center;
	margin: 20px auto;
	margin-top: 130px;
	color: blue;
	font-weight: bold;
	margin-bottom: -70px;
}

.specimen {
	width: 75%;
	margin: 0 auto;
	margin-top: 100px;
	display: block;

}


.download {
	color: white;
	background-color: blue;
	width: 330px;
	margin: 100px auto;
	margin-bottom: 250px;
	text-align: center;
	padding: 13px;
	box-shadow: 0px -12px #0f00b2;
    border: none;
    text-decoration: none;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    display: block;
}

.sketch {
	width: 1200px;
	margin: 0 auto;
	display: block;
	margin-top: 0px;
}

.caption {
	display: block;
	font-size: 24px;
	width: 1200px;
	margin-top: -30px;
	font-style: italic;
	line-height: 28px;
	margin-bottom: 200px;
}

.caption_inuse {
	display: block;
	font-size: 24px;
	width: 800px;
	margin-top: -70px;
	font-style: italic;
	line-height: 28px;
}


.home {
	width: 1650px;
	margin: 260px auto;
}

.home_nav {
	width: 100%;
}

.home-gif {
	width: 242px;
	margin: 00px;

}

.cem {
	width: 36%;
	margin: 0 auto;
	display: block;
}

/*.trapezoid {
	border-bottom: 30px solid #0f00b2;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	width: 270px;
	margin: 0 auto;
	display: block;
	margin-left: 680px;
	margin-bottom: 0px;
}*/
